extends layout

block content
  include nav.pug
  .jumbotron
    h1.display-4 Wellcome the Football Wizzard&apos;s Home !!
    p.lead
      | If you rely on the ability to predict the match results, join the fun and race with the football stalwarts around the world.
    hr.my-4
    p
      | We are the most popular platform for sports score predictions for the most popular football leagues. Let&apos;s join and have fun!!.
    a.btn.btn-primary.btn-lg(href='#' role='button') Let&apos;s Start
  .container
    .row
      .col-sm
        h4 Lasted Scores
        select.custom-select
          each league in leagues
            option(value=league.leagueId) #{league.leagueName}
        table.table
          thead.thead-dark
            tr
              th(scope='col') Home Team
              th(scope='col') Score
              th(scope='col') Away Team
              th(scope='col') Score
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td Larry
              td the Bird
              td @twitter
      .col-sm
        h4 Top Wizzard&apos;s
        table.table
          thead.thead-dark
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td Larry
              td the Bird
              td @twitter
      .col-sm
        table.table
          h4 Popular Wizzard&apos;s Leauges
          thead.thead-dark
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td Larry
              td the Bird
              td @twitter
  include footer.pug




