extends layout

block content
    include nav.pug
    .container.p-5
        .mx-auto(style='width: 400px;')
            h4 Please Sign In 
            form.form-control-sm(method='POST' action='/login')
                .form-group
                    input#exampleInputEmail1.form-control(type='email',id='email' name='email', aria-describedby='emailHelp', placeholder='Enter email')
                    small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
                .form-group
                    input#exampleInputPassword1.form-control(type='password',  id='password' name='password', placeholder='Password')
                .form-group.form-check
                    a(href='/users/register') Register                           
                button.btn.btn-primary(type='submit') Submit
    include footer.pug




