nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-dark.bg-dark
    a.navbar-brand(href='/') Football Wizzard's
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/')
            | Home 
            span.sr-only (current)
        li.nav-item.active
          a.nav-link(href='/howto')
            | How To Play 
            span.sr-only (current)
        li.nav-item.active
          a.nav-link(href='/schedule')
            | Schedules 
            span.sr-only (current)
      .btn-group(role='group', aria-label='Basic example')
        a.button.btn(type='button' href='login') Login/Register