extends layout

block content
  include nav.pug
  .container
    .row.p-1
      .col-sm
        h4 Lasted Scores
        table.table
          thead.thead-dark
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td Larry
              td the Bird
              td @twitter
      .col-sm
        h4 Top Wizzard&apos;s
        table.table
          thead.thead-dark
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td Larry
              td the Bird
              td @twitter
      .col-sm
        table.table
          h4 Popular Wizzard&apos;s Leauges
          thead.thead-dark
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td Larry
              td the Bird
              td @twitter
  .container
  .row.p-5
    .col-sm
      h4 Lasted Scores
      table.table
        thead.thead-dark
          tr
            th(scope='col') #
            th(scope='col') First
            th(scope='col') Last
            th(scope='col') Handle
        tbody
          tr
            th(scope='row') 1
            td Mark
            td Otto
            td @mdo
          tr
            th(scope='row') 2
            td Jacob
            td Thornton
            td @fat
          tr
            th(scope='row') 3
            td Larry
            td the Bird
            td @twitter
    .col-sm
      h4 Top Wizzard&apos;s
      table.table
        thead.thead-dark
          tr
            th(scope='col') #
            th(scope='col') First
            th(scope='col') Last
            th(scope='col') Handle
        tbody
          tr
            th(scope='row') 1
            td Mark
            td Otto
            td @mdo
          tr
            th(scope='row') 2
            td Jacob
            td Thornton
            td @fat
          tr
            th(scope='row') 3
            td Larry
            td the Bird
            td @twitter
    .col-sm
      table.table
        h4 Popular Wizzard&apos;s Leauges
        thead.thead-dark
          tr
            th(scope='col') #
            th(scope='col') First
            th(scope='col') Last
            th(scope='col') Handle
        tbody
          tr
            th(scope='row') 1
            td Mark
            td Otto
            td @mdo
          tr
            th(scope='row') 2
            td Jacob
            td Thornton
            td @fat
          tr
            th(scope='row') 3
            td Larry
            td the Bird
            td @twitter
  include footer.pug




